:host {
  display: flex;
  z-index: 1;
  position: relative;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  ::ng-deep .mat-toolbar-row,
  .mat-toolbar-single-row {
    height: 50px;

    & > .mat-button {
      border-radius: 0;
      line-height: 50px;
      &.active {
        background-color: #d0d0d0;
      }
    }
  }
}

::ng-deep .mat-button.scale, .mat-button.zoom {
  display: flex;
  align-items: center;
  justify-content: center;

  .scale-title {
    font-size: 20px;
    font-weight: 500;
  }

  .mat-icon {
    line-height: 30px;
    font-size: 30px;
    height: 30px;
    width: 30px;
  }
}
